.HomeButtonPage.pulse.ad {
    display: none;
}

.FeedButtonPage.pulse.ad {
    display: none;
}

.PromoAdFeed.mSmall {
    display: none;
}

.ExploreButtonPage.pulse.ad {
    display: none;
}

.PromoPopUp {
    display: none;
}